## Visual Studio & .NET build outputs ##
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.suo
*.suo.user
*.ncb
*.sdf
*.opensdf
*.dbmdl

## OS-specific files ##
.DS_Store
Thumbs.db

## Docker and deployment ##
.dockerignore